<!DOCTYPE html>
<html>




    <!-- Mirrored from hubancreative.com/projects/templates/coco/corporate/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 Oct 2016 22:21:24 GMT -->
    <head>
        <meta charset="UTF-8">
        <title>CNGOT Profile</title>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="description" content="">
        <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">

        <!-- Base Css Files -->
        <link href="{{asset('bundles/cngot/profile/assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/cngot/profile/assets/libs/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/cngot/profile/assets/libs/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/cngot/profile/assets/libs/fontello/css/fontello.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/cngot/profile/assets/libs/animate-css/animate.min.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/cngot/profile/assets/libs/nifty-modal/css/component.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/cngot/profile/assets/libs/magnific-popup/magnific-popup.css')}}" rel="stylesheet" /> 
        <link href="{{asset('bundles/cngot/profile/assets/libs/ios7-switch/ios7-switch.css')}}" rel="stylesheet" /> 
        <link href="{{asset('bundles/cngot/profile/assets/libs/pace/pace.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/cngot/profile/assets/libs/sortable/sortable-theme-bootstrap.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/cngot/profile/assets/libs/bootstrap-datepicker/css/datepicker.css')}}" rel="stylesheet" />
        <link href="{{asset('bundles/cngot/profile/assets/libs/jquery-icheck/skins/all.css')}}" rel="stylesheet" />
        <!-- Code Highlighter for Demo -->
        <link href="{{asset('bundles/cngot/profile/assets/libs/prettify/github.css')}}" rel="stylesheet" />

        <!-- Extra CSS Libraries Start -->
        <link href="{{asset('bundles/cngot/profile/assets/css/style.css')}}" rel="stylesheet" type="text/css" />
        <!-- Extra CSS Libraries End -->
        <link href="{{asset('bundles/cngot/profile/assets/css/style-responsive.css')}}" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="{{asset('bundles/cngot/logo.png')}}">
        <link rel="apple-touch-icon" href="{{asset('bundles/cngot/logo.png')}}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{asset('bundles/cngot/logo.png')}}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{asset('bundles/cngot/logo.png')}}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{asset('bundles/cngot/logo.png')}}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{asset('bundles/cngot/logo.png')}}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{asset('bundles/cngot/logo.png')}}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{asset('bundles/cngot/logo.png')}}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{asset('bundles/cngot/logo.png')}}" />
    </head>
    <body class="fixed-center">




        <div class="md-modal md-just-me" id="logout-modal">
            <div class="md-content">
                <h3><strong>Confirmation de déconnexion</strong> </h3>
                <div>
                    <p class="text-center">Vous voulez vraiment vous déconnecter ?</p>
                    <p class="text-center">
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-success md-close">Oui</a>
                        <a href="" class="btn btn-danger md-close">Non</a>
                    </p>
                   
                </div>
            </div>
        </div>        <!-- Modal End -->	
        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">
                <div class="topbar-left">
                    <div class="logo">
                        <h1><a href="#"><img src="{{asset('bundles/cngot/logo.png')}}" alt="Logo"></a></h1>
                    </div>
                </div>
                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-collapse2">

                            <ul class="nav navbar-nav navbar-right top-navbar">


                                <li class="dropdown iconify hide-phone"><a href="#" onclick="javascript:toggle_fullscreen()"><i class="icon-resize-full-2"></i></a></li>
                                <li class="dropdown topbar-profile">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="rounded-image topbar-profile-image"><img src="{{asset('bundles/cngot/profile/images/users/default-user.png')}}"></span> {{ app.user.nom }} <strong>{{ app.user.prenom }}</strong> <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="md-trigger" data-modal="logout-modal"><i class="icon-logout-1"></i> Se déconnecter</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->
            <!-- Left Sidebar Start -->

            <!-- Left Sidebar End -->		    <!-- Right Sidebar Start -->
            <!-- Right Sidebar End -->		
            <!-- Start right content -->
            <div class="content-page">
                <!-- ============================================================== -->
                <!-- Start Content here -->
                <!-- ============================================================== -->
                <div class="profile-banner" style="background-image: url({{asset('bundles/cngot/profile/images/profil-pic.jpg')}});">
                    <div class="col-sm-3 avatar-container">
                        <img src="{{asset('bundles/cngot/profile/images/users/default-user.png')}}" class="img-circle profile-avatar" alt="User avatar">
                    </div>


                </div>
                <div class="content">

                    <div class="row">
                        <div class="col-sm-3">
                            <!-- Begin user profile -->
                            <div class="text-center user-profile-2">
                                <h3>{{ app.user.Nom }}, <b>{{ app.user.prenom }}</b></h3>


                            </div><!-- End div .box-info -->
                            <!-- Begin user profile -->
                        </div><!-- End div .col-sm-4 -->

                        <div class="col-sm-9">
                            <div class="widget widget-tabbed">
                                <!-- Nav tab -->
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#my-timeline" data-toggle="tab"><i class="fa fa-users"></i>  Mon Ticket </a></li>

                                    <li><a href="#about" data-toggle="tab"> <i class="fa fa-envelope"></i>Mes abstracts</a></li>

                                    <li><a href="#user-activities" data-toggle="tab"><i class="fa fa-laptop"></i> Mes Certifications</a></li>
 <!--                                   <li><a href="#mymessage" data-toggle="tab"><i class="fa fa-user"></i> Mes Coordonnées</a></li>
-->                                </ul>
                                <!-- End nav tab -->

                                <!-- Tab panes -->
                                <div class="tab-content">


                                    <!-- Tab timeline -->
                                    <div class="tab-pane animated active fadeInRight" id="my-timeline">
                                        <div class="user-profile-content">
                                        
                                        <h4>Le contrôle des personnes préinscrites s’effectuera le jour du congrès par la lecture électronique des billets. </br>
						<strong style="color: red;">L’impression du billet est donc indispensable </strong> car le billet ne peut en aucun cas être lu sur un autre support (électronique, écran de téléphone mobile, écran d’ordinateur et tablette).</br></br>
						Conservez-le en lieu sûr et protégez-le de toute détérioration.</br>
</br>
 A bientôt.</h4>
                                        
                                        
                                            <style>
                                                .buttonDownload {
                                                    display: inline-block;
                                                    position: relative;
                                                    padding: 10px 25px;

                                                    background-color: #4CC713;
                                                    color: white;

                                                    font-family: sans-serif;
                                                    text-decoration: none;
                                                    font-size: 0.9em;
                                                    text-align: center;
                                                    text-indent: 15px;
                                                }

                                                .buttonDownload:hover {
                                                    background-color: #333;
                                                    color: white;
                                                }

                                                .buttonDownload:before, .buttonDownload:after {
                                                    content: ' ';
                                                    display: block;
                                                    position: absolute;
                                                    left: 15px;
                                                    top: 52%;
                                                }

                                                /* Download box shape  */
                                                .buttonDownload:before {
                                                    width: 10px;
                                                    height: 2px;
                                                    border-style: solid;
                                                    border-width: 0 2px 2px;
                                                }

                                                /* Download arrow shape */
                                                .buttonDownload:after {
                                                    width: 0;
                                                    height: 0;
                                                    margin-left: 3px;
                                                    margin-top: -7px;

                                                    border-style: solid;
                                                    border-width: 4px 4px 0 4px;
                                                    border-color: transparent;
                                                    border-top-color: inherit;

                                                    animation: downloadArrow 2s linear infinite;
                                                    animation-play-state: paused;
                                                }

                                                .buttonDownload:hover:before {
                                                    border-color: #4CC713;
                                                }

                                                .buttonDownload:hover:after {
                                                    border-top-color: #4CC713;
                                                    animation-play-state: running;
                                                }

                                                /* keyframes for the download icon anim */
                                                @keyframes downloadArrow {
                                                    /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
                                                    0% {
                                                        margin-top: -7px;
                                                        opacity: 1;
                                                    }

                                                    0.001% {
                                                        margin-top: -15px;
                                                        opacity: 0;
                                                    }

                                                    50% {
                                                        opacity: 1;
                                                    }

                                                    100% {
                                                        margin-top: 0;
                                                        opacity: 0;
                                                    }
                                                }


                                            </style>
                                            <a href="{{ path('download_ticket',{'salt' : app.user.salt}) }}" class="buttonDownload">Download</a>
                                        </div><!-- End div .user-profile-content -->
                                    </div><!-- End div .tab-pane -->
                                    <!-- End Tab timeline -->


                                    <!-- Tab about -->
                                    <div class="tab-pane animated fadeInRight" id="about">
                                       {# {% if abstracts|length <20 %}

                                            <center>  <a href="{{ path('add_user_video') }}" class="buttonDownload">Soumettre un abstract</a></center>

                                        {% endif %}#}
                                        {% for abst in abstracts %}
                                            <div class="user-profile-content">
                                                <hr />
                                                <center><h2> Votre Abstract 

                                                    {% if abst.status == 0 %}    

                                                        est : <strong style="color: orange;">  En cours de traitement</strong> 

                                                    {% elseif abst.status == 1 %}
                                                        a été <strong style="color: green;"> Accepté </strong> 
                                                    {% elseif abst.status == 2 %}
                                                        a été   <strong style="color: red;"> Rejeté</strong> 

                                                    {% endif %}
                                                    </h2></center>



                                                <hr />
                                                
                                                


                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <h4><strong>Details de l'abstract</strong>  : {{abst.titre}}</h4>
                                                        <div>
                                                            <strong>Introduction</strong><br>
                                                            <p>{{abst.introduction}}</p>
                                                        </div>
                                                        <div>
                                                            <strong>Matériel et Méthodes</strong><br>
                                                            <abbr>{{abst.materiel}}</abbr>
                                                        </div>
                                                        <div>
                                                            <strong>Résultats</strong><br>
                                                            <abbr>{{abst.resultats}}</abbr>
                                                        </div>
                                                        <div>
                                                            <strong>Conclusion</strong><br>
                                                            <abbr>{{abst.conclusions}}</abbr>
                                                        </div>

                                                    </div>
                                                        {% if abst.path != null %}
                                                    <div >
                                                        <figure class="main"><video width="300px" height="300px" src="{{"/../../../upload/abstractVideo/documents/" ~ abst.path }}" controls="controls"/></figure>
                                                    </div>
                                                    {% endif %}
                                                </div><!-- End div .row -->
                                            </div><!-- End div .user-profile-content -->
                                        {% endfor %}
                                    </div><!-- End div .tab-pane -->
                                    <!-- End Tab about -->

                                    {% block profileContent %}


                                    {% endblock %}

                                    <!-- Tab user activities -->
                                    <div class="tab-pane animated fadeInRight" id="user-activities">
                                        <div class="scroll-user-widget">
                                            <ul class="media-list">
                                                
                                                {% for abst in abstracts %}
                                               
                                                <li class="media">
                                                    <div class="media-body">
                                                        <h4 class="media-heading">&#34; {{abst.titre}} &#34; <a href="{{ path('telecharger_abstract_poster',{'id' : abst.id}) }}"><strong>telecharger</strong></a></h4>
                                                    </div>
                                                </li>
                                                
                                                {% endfor %}
                                                
                                                
                                            </ul>
                                        </div><!-- End div .scroll-user-widget -->
                                    </div><!-- End div .tab-pane -->
                                    <!-- End Tab user activities -->

                                    <!-- Tab user messages -->
                                    <div class="tab-pane animated fadeInRight" id="mymessage">
                                        <div class="scroll-user-widget">
                                            <ul class="media-list">
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/2.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">John Doe</a> <small>Just now</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/1.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">Annisa</a> <small>Yesterday at 04:00 AM</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus</p>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/5.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">Rusmanovski</a> <small>January 17, 2014 05:35 PM</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/4.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">Ari Rusmanto</a> <small>January 17, 2014 05:35 PM</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/3.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">Jenny Doe</a> <small>January 17, 2014 05:35 PM</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/2.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">John Doe</a> <small>Just now</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/1.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">Annisa</a> <small>Yesterday at 04:00 AM</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus</p>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/5.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">Rusmanovski</a> <small>January 17, 2014 05:35 PM</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/4.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">Ari Rusmanto</a> <small>January 17, 2014 05:35 PM</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <a class="pull-left" href="#fakelink">
                                                        <img class="media-object" src="{{asset('bundles/cngot/profile/assets/img/avatar/3.html')}}" alt="Avatar">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#fakelink">Jenny Doe</a> <small>January 17, 2014 05:35 PM</small></h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><!-- End div .scroll-user-widget -->
                                    </div><!-- End div .tab-pane -->
                                    <!-- End Tab user messages -->
                                </div><!-- End div .tab-content -->
                            </div><!-- End div .box-info -->
                        </div>
                    </div>


                    <!-- Footer Start -->
                    <footer>
                        <center>
                        VeLox IT &copy; 2016
                        </center>
                    </footer>
                    <!-- Footer End -->			
                </div>
                <!-- ============================================================== -->
                <!-- End content here -->
                <!-- ============================================================== -->

            </div>
            <!-- End right content -->

        </div>
        <!-- End of page -->
        <!-- the overlay modal element -->
        <div class="md-overlay"></div>
        <!-- End of eoverlay modal -->
        <script>

            var resizefunc = [];
        </script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{asset('bundles/cngot/profile/assets/libs/jquery/jquery-1.11.1.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/jquery-detectmobile/detect.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/jquery-animate-numbers/jquery.animateNumbers.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/ios7-switch/ios7.switch.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/fastclick/fastclick.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/jquery-blockui/jquery.blockUI.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/bootstrap-bootbox/bootbox.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/jquery-slimscroll/jquery.slimscroll.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/jquery-sparkline/jquery-sparkline.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/nifty-modal/js/classie.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/nifty-modal/js/modalEffects.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/sortable/sortable.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/bootstrap-fileinput/bootstrap.file-input.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/bootstrap-select/bootstrap-select.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/bootstrap-select2/select2.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/magnific-popup/jquery.magnific-popup.min.js')}}"></script> 
        <script src="{{asset('bundles/cngot/profile/assets/libs/pace/pace.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/jquery-icheck/icheck.min.js')}}"></script>

        <!-- Demo Specific JS Libraries -->
        <script src="{{asset('bundles/cngot/profile/assets/libs/prettify/prettify.js')}}"></script>

        <script src="{{asset('bundles/cngot/profile/assets/js/init.js')}}"></script>
        <!-- Page Specific JS Libraries -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="{{asset('bundles/cngot/profile/assets/libs/jquery-gmap3/gmap3.min.js')}}"></script>
        <script src="{{asset('bundles/cngot/profile/assets/js/pages/google-maps.js')}}"></script>

    </body>

    <!-- Mirrored from hubancreative.com/projects/templates/coco/corporate/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 Oct 2016 22:21:31 GMT -->
</html>